rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

		match /chats/{chat}/messages/{message} {
    	allow read,write: if request.auth != null;
    }
    match /chats/{chat} {
    	allow read,write: if request.auth != null;
    }
    match /printers/{print} {
    	allow read,write: if request.auth != null;
    }
    match /devices/{device} {
    	allow write: if request.auth != null;
      allow read; 
    }
  }
}